<table class="table table-striped">
    <tbody>
        <% matches.each do |match| %>
            <tr>
                <td><%= match.date.strftime("%Y-%m-%d") %></td>
                <td>
                  <%= link_to match.winner.name, user_path(match.winner) %>
                  vs
                  <%= link_to match.looser.name, user_path(match.looser) %>
                </td>
                <td>
                  <span class="text-green"><%= match.winning_result %></span>
                  -
                  <span class="text-red"><%= match.loosing_result %></span>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>