<div id="statistics-header">
  <h2>Users' statistics</h2>
</div>
<div id="new-user-button">
  <%= link_to 'New user', new_user_path, :class => 'btn btn-primary' %>
</div>
<table data-toggle="table" data-sort-name="factor" data-sort-order="desc">
  <thead>
    <th>Avatar</th>
    <th data-sortable="true">Name</th>
    <th data-sortable="true">Played</th>
    <th data-sortable="true">Won</th>
    <th data-sortable="true">Lost</th>
    <th data-sortable="true">Sum of points</th>
    <th data-sortable="true" data-field="factor">Average result factor</th>
  </thead>
  <tbody>
      <% @users.each do |user| %>
          <tr>
            <td class="users-statistics-avatar">
              <%= link_to image_tag(user.avatar.thumb.url, :border => 0), user_path(user) %>
            </td>
            <td><%= link_to user.name, user_path(user) %></td>
            <td><%= @statistics[user.id].played %></td>
            <td><%= @statistics[user.id].won %></td>
            <td><%= @statistics[user.id].lost %></td>
            <td><%= @statistics[user.id].sum_of_points %></td>
            <td><%= @statistics[user.id].avg_result %></td>
          </tr>
      <% end %>
  </tbody>
</table>