<div class="centered-container">
  <%= image_tag @user.avatar, class: 'avatar-big avatar-with-border' %>
  <div class="user-inf">
    <h3 class="user-name-header"><%= @user.name %></h3>

    <table class="user-statistics-table">
      <tr>
        <th>Played matches</th>
        <td><%= @statistics.played %></td>
      </tr>
      <tr>
        <th class="text-green">Won matches</th>
        <td><%= @statistics.won %></td>
      </tr>
      <tr>
        <th class="text-red">Lost matches</th>
        <td><%= @statistics.lost %></td>
      </tr>
      <tr>
        <th>Avg result factor</th>
        <td><%= @statistics.avg_result %></td>
      </tr>
    </table>
  </div>
</div>

<div class="user-matches-lists row">
  <div class="col-md-6">
    <div class="user-matches-list-header bg-red text-center">Lost matches</div>
    <%= render 'matches_table', matches: @user.lost_matches, side: :loosing  %>
  </div>
  <div class="col-md-6">
    <div class="user-matches-list-header bg-green text-center">Won matches</div>
    <%= render 'matches_table', matches: @user.won_matches, side: :winning  %>
  </div>
</div>
