<%= form_for @match do |f| %>

    <% if @match.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@match.errors.count, "error") %> prohibited
            this match from being saved:
          </h2>
          <ul>
            <% @match.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :winner %><br>
      <%= f.collection_select(:winner_id, User.all, :id, :name, {:include_blank => true}, :class => 'form-control') %>
    </div>

    <div class="form-group">
      <%= f.label :looser %><br>
      <%= f.collection_select(:looser_id, User.all, :id, :name, {:include_blank => true}, :class => 'form-control') %>
    </div>

    <div class="form-group">
      <%= f.label :loosing_result %><br>
      <%= f.number_field :loosing_result, :class => 'form-control', :min => 0 %>
    </div>

    <div class="form-group">
      <%= f.label :date %><br>
      <%= f.text_field :date, :'data-provide' => 'datepicker', :'data-date-format' => 'yyyy-mm-dd', :class => 'form-control' %>
    </div>

    <p>
      <%= f.submit :class => 'btn btn-default', :type => 'submit' %>
    </p>

<% end %>