<div class="row">
  <div class="col-md-5 text-center">
    <h4><%= @match.winner.name %></h4>
    <img class="avatar-with-border" src= <%= @match.winner.avatar %> />
  </div>
  <div class="col-md-2">
    <div class="match-date-result text-center">
        <h3><%= @match.date.strftime("%Y-%m-%d") %></h3>

        <div class="match-result">
            <span class="text-green"><%= @match.winning_result %></span> - <span class="text-red"><%= @match.loosing_result %></span>
        </div>
    </div>
  </div>
  <div class="col-md-5 text-center">
    <h4><%= @match.looser.name %></h4>
    <img class="avatar-with-border" src= <%= @match.looser.avatar %> />
  </div>
</div>