// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* match show view */

.match-result {
  font-size: 34px;
  letter-spacing: 8px;
  margin-top: 20px;
}


.match-date {
  width: 200px;
  margin: auto;
}

.match-date-result {
  margin-top: 70%;
}
