// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*user show view*/

.user-name-header {
  margin-bottom: 50px;
}

.user-matches-list-header{
  padding: 5px;
  font-weight: bold;
}

.user-matches-lists{
  margin-top: 30px;
}

.user-statistics-table th {
  width: 300px;
}

.user-statistics-table th, td {
  padding-bottom: 10px !important;
}

.user-statistics-table td {
  color: #999999;
}

.users-statistics-avatar {
  width: 100px;
  text-align: center;
  vertical-align: middle;
}

#new-user-button {
  display: inline-block;
  position: relative;
  top: 25px;
  float: right;
}

#statistics-header {
  display: inline-block;
}