<!DOCTYPE html>
<html>
<head>
  <title>FoosballTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-brand">
      Foosball tracker
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/users/">Statistics</a></li>
      <li><a href="/matches/new">Add match</a></li>
      <li><a href="/users/new">Add user</a></li>
    </ul>
  </div>
</nav>

<div class="container">
    <%= yield %>
</div>

</body>
</html>
